:root{

    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
    --botao-azul-efeito: #469cec;
    --cor-link-active: #b62d2d;

}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal) ;
    font-size: 1rem;
    font-weight: 400;
}

.principal{
    background-image: url("img/Background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;

}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.container-caixa{
    margin: 0 6em;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: .5em;
    padding: 1em;
    display: block;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: .2em solid var(--branco-principal);
}

.container__aviso{
    font-size: .2em;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 1.8em;
    font-weight: 700;
    
}

.container__imagem{
    margin: 1em 0 2em 0;
}

/* segunda  Seção */



.secundario__imagem{
    width: 80%;
}
.comboPlus{
    padding-left: 5em;
}

.secundario{
    height: 75vh;
    align-items: center;
    margin: 0 10em;
}

.decricao__titulo{
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: .3em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

/* Terceira  Seção */

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 1em;
}

/* Dispositivos */

.dispositivo{
 
    text-align: center;
    margin: 5em 0;
}

.dispositivos__titulo{
    font-size: 2em;
    font-weight: 700;
    
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
    padding-top: 1em;
    list-style-type: none;
   
    
} 

.lista__item{
    padding-top: 1em;
    
}


/* Dispositivos */

.rodape{
   text-align: center;
   margin: 7em 6em 2em 6em;
}



.rodape__lista{
    display: flex;
    justify-content: space-around;   
    padding: 1em 0;
    
   
    
}

.lista__link, .rodape__texto{
    font-size: .5em;
}

.rodape__texto{
   
    padding: .5em 0;
    margin-bottom: 2em;line-height: 1.5;
}

.lista__link a:hover{
    color: var(--botao-azul);
    font-size: 1.5em;
    text-decoration: underline;
  
}

.lista__link a:active{
    color: var(--cor-link-active);
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
    font-weight: 700;
}
